In [2]:
# ðŸ“¥ Step 1: Load the data
import pandas as pd
file_path = r'C:\Users\Admin\Documents\GitHub\brazilian-ecommerce-capstone\data\raw\product_category_name_translation.csv'
df_translation = pd.read_csv(file_path)
df_translation.info()
df_translation.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [3]:
# ðŸ”Ž Step 2: Check for nulls
df_translation.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [4]:
# ðŸ§¹ Step 3: Drop any rows with missing translations
df_translation_clean = df_translation.dropna()

In [5]:
# ðŸ“Š Step 4: Confirm it's clean and ready
df_translation_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB